# ========================

# Node modules and build output

# ========================

node_modules
dist
build

# ========================

# Git

# ========================

.git
.gitignore

# ========================

# IDE / Editor files

# ========================

.vscode
.idea

# ========================

# Docker files

# ========================

Dockerfile*
docker-compose*.yml

# ========================

# Logs

# ========================

_.log
npm-debug.log_

# ========================

# Environment files

# ========================

.env
