.git
.gitignore
.gitattributes

.vscode
.idea
_.swp
_.swo
\*~
.DS_Store

\*.md
README.md
CHANGELOG.md

coverage
.nyc*output
*.test.ts
\_.spec.ts
**/tests
**/mocks

logs
\*.log

tmp
temp
.cache

Dockerfile*
docker-compose*.yml
.dockerignore

node_modules
scripts
.env.development
